@page "{productId:int}"
@using DigitaalProgrammaBoekje.Pages.Database.Models
@model DigitaalProgrammaBoekje.Pages.Database.Products.Delete

@{
    Layout = null;
}

<h1>Are you sure to delete Product @(Model.Product.Name)?</h1>

<form method="POST">
    <button asp-page-handler="Delete">Yes</button>
    <button asp-page-handler="Cancel">Cancel</button>
</form>