@page
@model DigitaalProgrammaBoekje.Pages.Add_Festival

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Festival toevoegen</title>
</head>
<body>
<div class="container">
    <div class="col">
        <div class="row" style="margin-top: 5px">
            <div class="col">
                <label>Naam festival</label>
            </div>
            <div class="col">
                <input/>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col">
                <label>Locatie festival</label>
            </div>
            <div class="col">
                <input/>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col">
                <label>Datum festival</label>
            </div>
            <div class="col">
                <input/>
            </div>
        </div>
    </div>
    <button id="knop" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 20px; width: 170px">Voeg festival toe</button>
</div>
</body>
</html>