@page
@model DigitaalProgrammaBoekje.Pages.Add_Festival

@{
    ViewData["Title"] = "Add festival";
}


<div class="container">
    <div class="col">
        <div class="row" style="margin-top: 5px">
            <div class="col">
                <label>Naam festival</label>
            </div>
            <input/>
            </div>
        <div class="row" style="margin-top: 5px">
            <label>Locatie festival</label>
            <input/>
        </div>
        <div class="row" style="margin-top: 5px">
            <label>Datum festival</label>
            <input/>
        </div>
    </div>
    <button id="knop" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 25px; width: 170px">Voeg festival toe</button>
</div>
