@page
@model DigitaalProgrammaBoekje.Pages.Add_Festival

@{
    ViewData["Title"] = "Add festival";
}


<div class="container">
    <form method="post" enctype="multipart/form-data" style="height: 100%">
        <div class="col">
            <div class="row" style="margin-top: 5px">
                <input asp-for="Festival.Festival_naam" type="text" class="form-control" placeholder="Festival Naam" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_naam"></span>
            </div>
            <div class="row" style="margin-top: 5px">
                <input asp-for="Festival.Festival_locatie" type="text" class="form-control" placeholder="Festival Locatie" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_locatie"></span>
            </div>
            <div class="row" style="margin-top: 5px">
                <input asp-for="Festival.Festival_datum" type="date" class="form-control" placeholder="Festival Datum" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_datum"></span>
            </div>
            <div class="row" style="margin-top: 5px">
                <span class="kop spacing">Select Cover Image:</span>
                <input for="photoButton" type="file" name="frontPosted" class="photoButton" accept="image/jpeg, image/png, image/jpg"/>
            </div>
        </div>
        <input type="submit" id="knop" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 25px; width: 170px" asp-page-handler="Upload">Voeg festival toe</input>
    </form>
</div>