@page
@using DigitaalProgrammaBoekje.Pages.Database.Models
@model DigitaalProgrammaBoekje.Pages.HomeScreenAdmin

@{
    ViewData["Title"] = "Home admin";
}


<div class="container" id="FestivalListGeneraetor">
    <div class="row col-12">
        @if (Model.Festivallist != null)
        {
            foreach (var Festivalitem in Model.Festivallist)
            {
                <div class="col-3" id="cart" style="width: 300px; height: 300px;">
                    <div class="card" style="width: 300px; height: 300px;">
                        <img class="card-img-top" id="FImg1" style="object-fit: fill; height: 150px; width: 300px;" src="~/content/@Festivalitem.Festival_logo" alt="Card image cap">
                        <div class="card-body" style="height: 150px; width: 300px;">
                            <h5 class="card-title" style="margin: 0px">@Festivalitem.Festival_naam</h5>
                            <p class="card-text">@(Festivalitem.Festival_datum.ToString("yyyy-MM-dd"))</p>
                            <p class="card-text">@Festivalitem.Festival_locatie</p>
                            <form asp-page-handler="Update" method="post">
                                <input type="hidden" name="festival_id" value="@Festivalitem.Festival_id"/>
                                <button  style=" background-color: mediumpurple; border: none;" > Bewerk
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }

        <button id="knop2">+</button>

    </div>
</div>
<script src="/css/HomeScreen.js"></script>