@page
@model DigitaalProgrammaBoekje.Pages.HomeScreenAdmin

@{
    ViewData["Title"] = "Home admin";
}


<div class="container">
    <div class="row">
        <button id="knop" type="button">Festival 1</button>
        <button id="knop" type="button">Festival 2</button>
        <button id="knop" type="button">Festival 3</button>
        <button id="knop" type="button">Festival 4</button>
        <form asp-page-handler="Addfestival" method="post" style="width: 100%">
            <button id="knop2">+</button>
        </form>
    </div>
</div>
