@page
@using DigitaalProgrammaBoekje.Pages.Database.Models
@model DigitaalProgrammaBoekje.Pages.HomeScreenAdmin

@{
    ViewData["Title"] = "Home admin";
}


<div class="container" id="FestivalListGeneraetor">
    <div class="row col-12">
        @if (Model.Festivallist != null)
        {
            foreach (var Festivalitem in Model.Festivallist)
            {
                <div class="col-3" id="cart" style="width: 300px; height: 300px; margin: 10px; margin-top: 20px;">
                    <div class="card" style="width: 300px; height: 300px;">
                        <img class="card-img-top" id="FImg1" style="object-fit: fill; height: 150px; width: 300px;" src="~/content/@Festivalitem.Festival_logo" alt="Card image cap">
                        <div class="card-body" style="height: 150px; width: 300px;">
                            <div>
                                <h4 class="card-title" style="margin: 0px; text-align: center;">@Festivalitem.Festival_naam</h4>
                            </div>
                            <div>
                                <p class="card-text" style="text-align: center; margin-top: 20px">@(Festivalitem.Festival_datum.ToString("yyyy-MM-dd"))</p>
                            </div>
                            <div>
                                <p class="card-text" style="text-align: center;">@Festivalitem.Festival_locatie</p>
                            </div>
                            <form asp-page-handler="Update" method="post" style="text-align: center;">
                                <input type="hidden" name="festival_id" value="@Festivalitem.Festival_id"/>
                                <button id="Editbutton"> Bewerk
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }

        <button id="knop2">+</button>

    </div>
</div>
<script src="/css/HomeScreen.js"></script>