#ProgrammaOverview {
    background-color: lightgray;
}

#EditDiv{
    background-color: lightgray;
    border-radius: 15px;
    border: none;
}
#EditSchedule{
    margin: 5px;
    border-style: solid ; 
    border-color: black;
    overflow: scroll;
    overflow-x: hidden;
    height: 93vh;
    
}

.carousel-item{
    border-radius: 10px;
}

#img{
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}
#Editbutton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
}

.list-group-item.active{
    background-color: red;
    border-color: red;
}

#blokitem{
    border-radius: 10px;
    border: 4px solid white;
}